<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyek.android.regrow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_komunitas_lihatprofil"></activity>
        <activity android:name=".Activity_home" />
        <activity android:name=".Activity_login" />
        <activity android:name=".Model.Activity_donasisaya_donasi"></activity>
        <activity android:name=".Activity_donasisaya"></activity>
        <activity android:name=".Activity_kodekonfirmasi"></activity>
        <activity android:name=".Activity_daftar" />
        <activity android:name=".Login" />
        <activity android:name=".Activity_komunitas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>
